{% extends "EDCoreBundle::layout.html.twig" %}
{% block ed_css %}{% endblock %}
{% block ed_body %}
    <h1 class="text-center">Choose your options and rest you</h1>
    {{  form_start(form) }}
    {{  form_errors(form) }}
         <div class="col-md-6">
            <div class="form-group">
                {{ form_widget(form.projectname) }}
            </div>
            <p>Options :</p>
             {{ form_widget(form.check1) }}
             {{ form_widget(form.check2) }}
             {{ form_widget(form.check3) }}
             {{ form_widget(form.check4) }}
             {{ form_widget(form.check5) }}
             {{ form_widget(form.check6) }}
             {{ form_widget(form.check7) }}
             {{ form_widget(form.check8) }}
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_widget(form.bddname) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.bddid) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.bddpass) }}
            </div>
            <div class="form-group">
                    {{ form_row(form.sql) }}
            </div>
            <div class="form-group">
                    {{ form_row(form.files) }}
                    <a href="#" id="add_files" class="btn btn-info">Add a file</a>
            </div>
        </div>
        <div class="text-center">
             {{ form_widget(form.save) }}
        </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block ed_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var $container = $('div#ed_files');
            var index = $container.find(':input').length;
            $('#add_files').click(function(e) {
                addCategory($container);
                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addCategory($container);
            } else {
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            function addCategory($container) {
                var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, 'File n°' + (index+1))
                                .replace(/__name__/g,        index)
                        ;
                var $prototype = $(template);
                addDeleteLink($prototype);
                $container.append($prototype);
                index++;
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>
{% endblock %}